html,
body {
  height: 100%;
  color: #333333;
  background-color: #f3f4f6;
}

.hide-date {
  display: none;
}

.hide-date::-webkit-calendar-picker-indicator {
  display: none;
}

.footer-shadow {
  box-shadow: 0 -4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}